<div class=" p-5 mb-1 bg-white text-center text-dark">
  <h1>Bem-vindo ao Vet Plus</h1>
  <p>Sua plataforma para gestão e cuidado animal.</p>
  <a href="/cadastro" class="btn btn-primary mt-3">Cadastre um Animal</a>
  <a href="/lista" class="btn btn-primary mt-3">Veja animais cadastrados</a>
</div>